<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641654323636-3jkaaceignapkgu5gefl5a9jqnr3dqdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641654323636-3jkaaceignapkgu5gefl5a9jqnr3dqdn</string>
	<key>API_KEY</key>
	<string>AIzaSyAgIBXsqHWBrusgtsTe7tu3KITzitnff2M</string>
	<key>GCM_SENDER_ID</key>
	<string>641654323636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catGptBot</string>
	<key>PROJECT_ID</key>
	<string>catgpt-77c64</string>
	<key>STORAGE_BUCKET</key>
	<string>catgpt-77c64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641654323636:ios:386e2ed5a0bbb603531ae1</string>
</dict>
</plist>